fastapi
pymongo
python-dotenv
uvicorn
motor
beanie
passlib[bcrypt]
python-multipart
python-jose[cryptography]
beautifulsoup4==4.12.2
bs4==0.0.1
greenlet==2.0.2
playwright==1.37.0
pyee==9.0.4
python-dotenv==1.0.0
selectolax==0.3.16
soupsieve==2.5
typing_extensions==4.7.1
